LOOKERSDK_CLIENT_ID=
LOOKERSDK_CLIENT_SECRET=
LOOKERSDK_BASE_URL=
NEXT_PUBLIC_LOOKER_HOST_URL=
LOOKER_VIZ_PROJECT_NAME=embed_observability

# optional
DEFAULT_CDN_PATH=https://localhost:4445
LOOKER_VIZ_LOCAL_ID=local_vis
DEFAULT_LOCAL_URL=https://localhost:8080/bundle.js